<div class="today-workout-tiles">
{{#each this}}
	<div class="today-exercise-tiles" data-id="{{id}}">
		<p class="today-exercise-type">{{type}}</p>
		<p class="today-exercise-sets">{{sets}} sets</p>
		<p class="today-exercise-reps">{{reps}}</p>
		<p class="today-exercise-category">Reps</p>
		<p class="today-exercise-each">{{eacharm}}</p>
		<p class="today-file"><i class="fa fa-file-text fa-2x"></i></p>
	</div>
{{/each}}
</div>