<div class="today-date">Thursday August 27, 2015</div>
<div class="today-workout">Upper Body Weight Training</div>
<div class="today-workout-time">
	<div class="today-time-of-workout">
		<div>Time of workout</div>
		<div><i class="fa fa-clock-o"></i> 4:00 pm</div>	
	</div>
	<div class="today-duration">
		<div>Duration</div>
		<div><i class="fa fa-hourglass-start"></i> 30 Min</div>
	</div>
	<div class="today-reschedule">
		<div class="today-calender"><i class="fa fa-calendar"></i></div>
		<div>Reschedule</div>	
	</div>
</div>
<div class="today-workout-tiles">
{{#each this}}
	<div class="today-exercise-tiles" data-id="{{id}}">
		<p class="today-exercise-type">{{type}}</p>
		<p class="today-exercise-sets">{{sets}} sets</p>
		<p class="today-exercise-reps">{{reps}}</p>
		<p class="today-exercise-category">Reps</p>
		<p class="today-exercise-each">{{eacharm}}</p>
		<p class="today-file"><i class="fa fa-file-text fa-2x"></i></p>
	</div>
{{/each}}
</div>